@import "tailwindcss";

body {
    @apply bg-gray-100;
}

header {
    @apply flex flex-row justify-between p-4 shadow-lg bg-white/80 backdrop-blur-md sticky top-0 z-50;
}

.search {
    @apply border border-gray-300 px-4 py-2 rounded-md;
}

.search-input {
    @apply border-none outline-none;
}

.ingredient-container,
.meal-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    @apply py-4 px-8 mx-auto max-w-[1400px] flex flex-wrap;
}

.ingredient-item,
.meal-item {
    @apply flex flex-col justify-center w-52 items-center p-4 bg-white border border-white hover:border-green-600 shadow-lg transition-all hover:cursor-pointer rounded-md;
}

.ingredient-item img {
    @apply w-32 h-32;
}